.background {
    background-color: rgba(120, 120, 120, 0.44);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    border: 3px solid rgba(0, 0, 0, 0.584);
    border-radius: 20px;
    background: linear-gradient(
        to left,
        rgb(253, 253, 184),
        rgb(255, 119, 119)
    );
    padding-top: 25px;
    padding-bottom: 25px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    & button {
        margin-top: 25px;
    }
}

.text {
    font-size: 17px;
        text-align: center;
        margin: 0;
}

.removeButtons {
    display: flex;
    gap: 20px;

    & button {
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

.remove {
    background-color: rgba(255, 100, 100, 0.6);
    color: rgba(100, 100, 100, 1);
}