.header {
    height: 100px;
    width: 100%;
    z-index: 100;
    background-color: rgba(100, 150, 255, 0.5);
    position: fixed;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.buttons {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;

    & span {
        font-size: 20px;
        font-weight: 600;
    }
}

.navLink {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    text-decoration: none;
    gap: 10px;
    width: 90px;
    height: 35px;
    border: none;
    border-radius: 25%;
    background-color: rgba(109, 255, 114, 0.7);
}

.navLinkActive {
    background-color: rgba(100, 100, 200, 0.6);
    color: grey;
    cursor: default;
}
