body {
  margin: 0;
  padding-bottom: 100px;
  background-image: url(/public/main.jpg);
  background-repeat: no-repeat;
  background-size: 100vw auto;
  background-attachment: fixed;
  position: relative;
}
